flask
flask-cors
python-dotenv

langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters

openai

faiss-cpu

sentence-transformers
transformers
torch

rank-bm25

pypdf

lettucedetect

pydantic